<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>联系我们</title>
</head>
<body>
    <div class="bs-docs-header" id="content" tabindex="-1">
        <div class="container">
            <h1> 联系我们 </h1>
            <div class="lead">
                <address>
                    电子邮件：<strong>mingrisoft@mingrisoft.com</strong>
                    <br>地址：吉林省长春市南关区财富领域
                    <br>邮政编码：<strong>131200</strong>
                    <br><abbr title="Phone">联系电话：</abbr> 0431-84978981
                </address>
            </div>
        </div>
    </div>
</body>
</html>