<!DOCTYPE html>
<html lang="UTF-8">
<head>
    <meta http-equiv="content-type" content="text/html";charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,inital-scale=1">
    <title>
        明日科技
    </title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body class="bs-doc-home">
    <header class="navbar navbar-static-top bs-docs-nav" id="top">
        <div class="container">
            <div class="navbar-header">
            <a href="/" class="navbar-nav">明日学院</a>
            </div>
            <nav id="bs-navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/course.html">课程</a>
                    </li>
                    <li>
                        <a href="http://www.mingrisoft.com/book.html">读书</a>
                    </li>
                    <li>
                        <a href="http://www.mingrisoft.com/bbs.html">社区</a>
                    </li>
                    <li>
                        <a href="http://www.mingrisoft.com/servicecenter.html">服务</a>
                    </li>
                    <li>
                        <a href="/contact.html">联系我们</a>
                    </li>
                </ul>
            </nav>
        <div/>
    </header>
        <main class="bs-docs-masthead" id="content" tabindex="-1">
            <div class="container">
                <div class="jumbotron">
                    <h1 style="color:#573e7d">明日课程</h1>
                    <p style="color: #573e7d">海量课程，随时随地，想学就学。有多名专业讲师精心打造精品课程，让学习创造属于你的生活</p>
                    <p><a class="btn btn-primary btn-lg" href="http://mingrisoft.com/selfCourse.html" role="button">开始学习</a> </p>
                </div>
            </div>
        </main>
</body>
</html>